<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
</head>
<body>
    <form action="/products" method="POST">
        <div>
            <label>Name </label>
            <input type="=text" name="name" placeholder="nama produk" />
        </div>

        <div>
            <label>Price </label>
            <input type="=number" name="price" placeholder="harga produk" />
        </div>

        <input type="submit"/>
    </form>
</body>
</html>