<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Product</title>
</head>
<body>
    <h1>List Product :</h1>
    <% product.forEach(function (product){%>
        <div>
            <h3>Nama  :<%= product.name %></h3>
            <h3>Harga :<%= product.price %></h3>
        </div>
    <%})%>
</body>
</html>